*.png
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*.csv
*.o
*.c
*.pyc
*.so
*.prof
climate_div.*
__pycache__/*
*.swp
*.gz
*.trends
ghcnd_stations_in_ca_basins
fig_*.pdf
fig_*.jpg
fig_*.svg
station_trends/*
.DS_Store
*.pk
mark_*.pdf
Untitled*.ipynb
event_files.txt
*.tex
build/*
*egg-info*
dist/*
